include ChangeLog
include README.rst
include MANIFEST.in
include AUTHORS
include LICENSE
include ChangeLog
include babel.cfg
include tox.ini
include muranorepository/tests/test.conf
exclude .gitignore
exclude .gitreview
recursive-include etc *
global-exclude *.pyc
