{
    "AWSTemplateFormatVersion": "2010-09-09",

    "Resources": {
        "$instanceName": {
            "Type": "AWS::EC2::Instance",
            "Properties": {
                "InstanceType": "$instanceType",
                "ImageId": "$imageName",
                "AvailabilityZone": "$availabilityZone",
                "UserData": "$userData"
            }
        }
    }
}
