{
    "Resources": {
       "${lbName}-FloatingIP": {
            "Type": "OS::Neutron::FloatingIP",
            "Properties": {
                "floating_network_id": "$externalNetworkId"
            }
        },
        "${lbName}-FloatingIpAssoc": {
          "Type": "OS::Neutron::FloatingIPAssociation",
          "Properties": {
            "floatingip_id": { "Ref" : "${lbName}-FloatingIP" },
            "port_id": {"Fn::Select": ["port_id", {"Fn::GetAtt": ["${lbName}-Pool", "vip"]}]}
          }
        }
    },
    "Outputs": {
        "${lbName}-FloatingIPaddress": {
            "Value":  {"Fn::GetAtt": ["${lbName}-FloatingIP", "floating_ip_address"]},
            "Description": "Floating IP assigned"
        }
    }
}
