{
    "Resources": {
       "FloatingIP": {
            "Type": "OS::Neutron::FloatingIP",
            "Properties": {
                "floating_network_id": "$external_network_id",
            }
        },

        "FloatingIpAssoc": {
          "Type": "OS::Neutron::FloatingIPAssociation",
          "Properties": {
            "floating_ip_id": { "Ref" : "FloatingIP" },
            "port": "$instancePort",
          }
        }
    },

    "Outputs": {
        "FloatingIP": {
            "Value": {"Fn::Select": ["address", {"Fn::GetAtt": ["FloatingIpAssoc", "floating_ip_id"]}]},
            "Description": "Floating IP assigned"
    }
}
