{
   "Resources": {
        "$instanceName": {
            "Properties": {
                "NetworkInterfaces": [
                    {
                        "Ref": "$instancePort"
                    }
                ]
            }
        },
        "$instancePort": {
            "Type": "OS::Neutron::Port",
            "Properties": {
                "security_groups": [
                    {
                        "Ref": "$MuranoSecurityGroup-{envName}"
                    }
                ],
                "network_id": {
                    "Ref": "$network"
                }
            }
        }
    },

    "Outputs": {
    }
}
