{
    "Resources": {
        "$instanceName": {
            "Properties": {
                "NetworkInterfaces": [
                    {
                        "Ref": "$port-{instanceName}"
                    }
                ]
            }
        },
        "$port-{instanceName}": {
            "Type": "OS::Neutron::Port",
            "Properties": {
                "security_groups": [
                    {
                        "Ref": "MuranoDefaultSecurityGroup"
                    }
                ],
                "network_id": {
                    "Ref": "$network"
                },
                "fixed_ips": [
                    {
                        "subnet_id": {
                            "Ref": "$subnet"
                        }
                    }
                ]
            }
        }
    },

    "Outputs": {
    }
}
