{
    "Parameters": {
        "${instanceName}-key": {
            "Description": "Key Pair",
            "Type": "String",
            "Default": "$keyName"
        }
    },

    "Resources": {
        "$instanceName": {
            "Properties": {
                "KeyName": { "Ref" : "${instanceName}-key" }
            }
        }
    }
}
