{
    "AWSTemplateFormatVersion": "2010-09-09",

    "Resources": {
        "network": {
            "Type": "OS::Neutron::Net",
            "Properties": {
                "name": "$networkName"
            }
        }
    },
    "Outputs": {
    }
}
