{
    "Resources": {
        "$instanceName": {
            "Properties": {
                "SecurityGroups": [
                    {
                        "Ref": "MuranoDefaultSecurityGroup"
                    }
                ]
            }
        }
    }
}