{
    "Resources": {
        "$MuranoSecurityGroup-{envName}": {
            "Type": "AWS::EC2::SecurityGroup",
            "Properties": {
                "SecurityGroupIngress": [
                     {
                        "ToPort": "5432",
                        "IpProtocol": "tcp",
                        "FromPort": "5432",
                        "CidrIp": "0.0.0.0/0"
                    }
                ]
            }
        }
    }
}
