{
    "Resources": {
        "$instancePort": {
            "Properties": {
                "allowed_address_pairs": [
                    {
                        "ip_address": "$clusterIp"
                    }
                ]
            }
        }
    }
}
